@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --primary-color:hsl(357, 92%, 47%);    
}


/*  Header  */

.nav_logo{
    width: 200px;
    object-fit: contain;
}

.nav_avatar{
    width: 30px;
    object-fit: contain;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5;
}

.nav_black{
    background-color: #000;
}

.banner_main{
    background-image: url("img/arcade_full.jpg");
}

.banner_highscore{
    background-image: url("img/arcade_blue_1.jpg");
}

.banner_jogos{
    background-image: url("img/arcade_blue_2.jpg");
}

.banner{
    background-size: cover;
    background-position: center center;
    color:white;
    object-fit: contain;
    height: 588px;
}

.banner_content{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner_buttons{
    display: none;
}

.banner_button{
    cursor: pointer;
    color:white;
    outline: none;
    border: none;
    font-weight: 700;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5)
}

.banner_button:hover{
    color: #000;
    background-color: white;
    transition: all 0.2s;
}

.banner_button:hover a{
    color: #000;
    background-color: white;
    transition: all 0.2s;
}

.banner_fade_bottom{
    margin-top: 280px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #000);
}

/*  Dropdown  */

.dropdown{
    position: relative;
    display: inline-block;
    color: white;
}
.dropdown-active{
    position: relative;
    display: inline-block;
    color: white;
}
.dropdown-active{
    background-color: white;
    color: hsl(30, 100%, 50%);
}
.dropdown-active:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    font-size: 10px;
    display: none;
    position: absolute;    
    background-color: var(--primary-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px; 
    margin-left: -14px;
}
.dropdown-content a{
    display: block;
} 

.dropdown-content li{
    padding:10px;
}

.dropdown-content li:hover{
    background-color: #000;
}

/* .dropdown-content a:hover{
    background-color: hsl(30, 100%, 50%);
} */
.dropdown:hover .dropdown-content{
    display: block;
}

/*  Section  */

h2{
    margin-left: 30px;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters.active{
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 15px;
    transition: transform 450ms;
    margin-bottom: 50px;
}

.a_row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

/*  Scroll  */ 

::-webkit-scrollbar-track{
    background-color: var(--primary-color)

}

::-webkit-scrollbar{
    width: 0.3vw;
    max-width: 0.3vw;
    min-width: 0.3vw;
    background-color: crimson;

}

::-webkit-scrollbar-thumb{
    background-color: #d3cece;
    height: 1px;

}