.lista_jogos{
    background-color: hsla(342, 80%, 29%, 0.502);
    height: 500px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.lista_jogos ul{
    list-style: none;
    justify-content: center;
}
.lista_jogos ul li a{
    text-decoration: none;
}